<div class="topbar">
	<%= link_to_function "Back", "history.back()", :class=>"topbar-btn topbar-back fleft" %>
	<span class="toplogo">Qwest</span>
	<%= link_to 'X','#', :class=>"topbar-btn topbar-back fright" %>
	<div class="clear"></div>
</div>

<div class="new_quest_box">
	<h1>Post a new Qwest</h1>
	<%= render 'form' %>
</div>