html, body { height: 100%; }

body{
	font-family:"Helvetica Neue","Helvetica","Lucida Grande";
	background: #fff;
}

.fleft{float:left;}
.fright{float:right;}
.clear{clear:both;}

.meta-text{
	font-size:11px;
}

/*++++++++++++++
/* Splash screen
/*+++++++++++++*/
#splashpage{
		text-align: center;
overflow:hidden;
height:400px;
		background: url('/images/qwest-bg.jpg') repeat-x #66CCFF;

}
h1.splash_logo img {
	margin: 60px auto 0;
	max-width: 420px;
	width: 80%;
	display:block;
	text-indent:-9999px;
}

.splash_fb {
	position: fixed;
	bottom: 40px;
	width:250px;
	left: 50%;
	margin: 0 auto;
	margin-left: -125px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.splash_fb #fb-connect {
	background:url('/images/fb-login.png') no-repeat;
	width:185px;
	height:40px;
	display:block;
	margin: 0 auto;
	text-indent:-9999px;

}

#status{display:none;}
/*++++++++++++++
/* User map
/*+++++++++++++*/





  .user_pin_info{
    background: url("/images/topbarbg.png") repeat-x scroll left top #99A7C0;
    border-bottom: 1px solid #606775;
    line-height: 21px;
        z-index:9999;
        position:relative;
    padding: 5px 7px;
   	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
 }
  img.avatar{
	margin:1px 7px 0 0;
	width:35px;
	height:35px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
	box-shadow:0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.3);
}
 .user_pin_info p{
	font-size:16px;
	color:#000;
	margin:0 0 -4px;
 	text-shadow: 0 1px 0 rgba(255,255,255, 0.3);

}

  .user_pin_action{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 15px 18px 0;
    padding: 15px 0 10px;
    width: 280px;
    position:absolute;
    z-index:9999;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
	-webkit-box-shadow:0 1px 4px #333;
	box-shadow:0 1px 4px #333;
	-moz-box-shadow:0 1px 4px #333;

}
.user_pin_action:after{
	content:"";
	position:absolute;
	display: block;
	bottom:-15px;
	left:120px;
	width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #fff;
}

.user_pin_action a{
	float:none;
	width:200px;
	color:#fff;
	display:block;
	margin:0 auto 10px;
}