*{
	margin:0;
	padding:0;
}
body{
	background:#66CCFF;
	font-family:"Helvetica Neue","Helvetica","Lucida Grande";
}
html, body { height: 100%; }
body { text-align: center; background: url('/images/qwest-bg.png') repeat-x; }



.meta-text{
	font-size:11px;
}
/*++++++++++++++
/* Splash screen
/*+++++++++++++*/

h1.splash_logo img {
	margin: 30px auto;
	max-width: 420px;
	width: 80%;
	display:block;
	text-indent:-9999px;
}

.splash_fb {
	position: fixed;
	bottom: 40px;
	width:250px;
	left: 50%;
	margin: 0 auto;
	margin-left: -125px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.splash_fb #fb-connect {
	background:url('/images/fb-login.png') no-repeat;
	width:185px;
	height:40px;
	display:block;
	margin: 0 auto;
	text-indent:-9999px;

}

/*++++++++++++++
/* User map
/*+++++++++++++*/

#user_map{
	position:relative;
	z-index:99999;
}

.user_pin{
	position:absolute;
	top:20px;
	left:50%;
	width:260px;
	margin-left:-140px;
	background:#fff;
 	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
 }
.user_pin:after{
	content:"";
	position:absolute;
	display: block;
	bottom:-15px;
	left:110px;
	width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #fff;
}


.user_pin .user_pin_info{
	background:#99A7C0;
 	padding:10px;
	line-height:21px;
	border-bottom:1px solid #758093;
 	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
}
.user_pin .user_pin_info p{
	font-size:18px;
	margin:0 0 -4px;
	font-weight:bold;

}

.user_pin  .user_pin_action{
	padding:15px 0 10px;
}
.user_pin a{
	float:none;
	width:220px;
	display:block;
	margin:0 auto 10px;
}