html, body { height: 100%; }

body{
	font-family:"Helvetica Neue","Helvetica","Lucida Grande";
	background: #fff;
}

.fleft{float:left;}
.fright{float:right;}
.clear{clear:both;}
.hide{display:none;}

.innerpad{padding:15px;}

.meta-text{
	font-size:11px;
}


span.bounty{
	padding:2px 3px 2px 4px;
	background:red;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
	margin:0 5px 0 0;
	font-size:11px !important;
	color:#fff !important;
}
/*++++++++++++++
/* Splash screen
/*+++++++++++++*/

#splashpage{
	text-align: center;
	overflow:hidden;
	height: 500px;
	background: url('/images/qwest-bg.jpg') repeat-x #3FA9F5;
}
h1.splash_logo img {
	margin: 60px auto 0;
	max-width: 420px;
	width: 80%;
	display:block;
	text-indent:-9999px;
}

.splash_fb {
	position: fixed;
	bottom: 40px;
	width:250px;
	left: 50%;
	margin: 0 auto;
	margin-left: -125px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.splash_fb #fb-connect {
	background:url('/images/fb-login.png') no-repeat;
	width:185px;
	height:40px;
	display:block;
	margin: 0 auto;
	text-indent:-9999px;

}

.tagline {
	color: #fff;
	font-size: 25px;
	letter-spacing: -1px;
	text-shadow: 0 1px 2px #000;
}

#status{display:none;}
#mapcanvas {
	width:100% !important;

}

.topbar{
height:33px;
    background: url("/images/topbarbg.png") repeat-x scroll left top #99A7C0;
    border-bottom: 1px solid #606775;
   padding: 7px 7px 4px;
   box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	z-index:9999;
	position:relative;
 }

 .toplogo a{
 	background:url('/images/qwest-head.png') no-repeat top left;
 	display:block;
 	text-indent:-9999px;
 	height:26px;
 	margin: 0 auto;
 	width:95px;
 	position:absolute;
 	left:50%;
 	margin-left:-47px;


 }
/*++++++++++++++
/* User map
/*+++++++++++++*/


  .user_pin_info{

    line-height: 21px;
height:40px;


 }
  img.avatar{
	margin:1px 7px 0 0;
	width:35px;
	height:35px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
	box-shadow:0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.3);
}
 .user_pin_info p{
	font-size:20px;
	color:#000;
	margin:0 0 -4px;
 	text-shadow: 0 1px 0 rgba(255,255,255, 0.3);

}

  .user_pin_action{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 15px auto 0;
    padding: 15px 15px 15px;
    width: 260px;
     top: -350px;
     z-index:9999;
position:relative;
 border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
	-webkit-box-shadow:0 1px 4px #333;
	box-shadow:0 1px 4px #333;
	-moz-box-shadow:0 1px 4px #333;

}
.user_pin_action:after{
	content:"";
	position:absolute;
	display: block;
	background:url('/images/arrowdown.png') no-repeat top left;
	bottom:-18px;
	left:127px;
	width: 36px;
	height: 19px;
 }

.user_pin_action a{
	float:left;
	width:80px;
	color:#fff;
	font-size:17px;
	display:block;

}
.user_pin_action a.first{
margin:0 15px 0 0;
}

.user_pin_action a span{
display:block;
font-size:13px;
}
	margin:0 auto 10px;
}

/*++++++++++++++
/* Tabs
/*+++++++++++++*/

ul.tabs {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	height: 32px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	padding: 0;
	outline: none;
}

.tab_container {
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
}

.tab-2 li { width: 50%; }

.tab-3 li { width: 33.3333%; }