.questentry{
	padding:20px;
}
.qe_main{
	font-size:20px;
}
.qe_vote{
	padding:  10px 20px;
	background:#eee;
	position:relative;
	z-index:9999;
box-shadow:0px 1px 3px #333;
-moz-box-shadow:0px 1px 3px #333;
-webkit-box-shadow:0px 1px 3px #333;
}

.qe_vote .vote{
	padding:4px 10px;
	background:#fff;
	margin:0 4px 0;
	text-decoration:none;
	color:#000;
	font-size:20px;
}


.newqe .padded{
	padding:10px 20px;
 }

.newqe .qtitle{
	font-size:18px;
}
.newqe label{
	margin:0 0 5px;
	float:left;
	display:block;
}
.newqe textarea.nofield{
 	width:100%;
	border:1px solid #fff;
	-webkit-appearance:none;
}
.newqe textarea#quest_entry_submission{
	width:95%;
	height:60px;
	-webkit-appearance:none;

}