<div class="topbar">
  <%= link_to_function "Back", "history.back()", :class=>"topbar-btn topbar-back fleft" %>
  <span class="toplogo">Qwest</span>
   <div class="clear"></div>
</div>


<%= render 'form' %>


