<div class="topbar">
  <%= link_to_function "Back", "history.back()", :class=>"topbar-btn topbar-back fleft" %>
  <span class="toplogo"><%= link_to 'Qwest', root_path %></span>
   <div class="clear"></div>
</div>


<%= render 'form' %>


