<!DOCTYPE html>
<html>
<head>
  <title>Hackweekend</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'sencha-touch-debug' %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
